<div>
  <div class="card text-center">
    <div class="card-header">Adventure</div>
    <div class="card-body" role="button" @click="adventure()">{{ loot.adv.name }}</div>
  </div>

  <div class="card text-center">
    <div class="card-header text-center">{{ loot.loot.name }}</div>
    <div class="card-body">
      <div class="row gx-0">
        <div class="col">Date</div>
        <div class="col">{{ show_datetime(loot.loot.date) }}</div>
      </div>
      <div class="row gx-0">
        <div class="col">Treasurer</div>
        <div class="col">{{ sailor_name(loot.loot.treasurer) }}</div>
      </div>
      <div class="row gx-0">
        <div class="col">Amount</div>
        <div class="col">{{ loot.loot.amount.str }}&nbsp;{{ currency }}</div>
      </div>
      <div class="row gx-0 mt-3"><div class="col">Shares</div></div>
      <div v-for="s in shares" class="row gx-0">
        <div class="col">{{ sailor_name(s.sailor) }}</div>
        <div class="col">{{ s.amount.str }}&nbsp;{{ currency }}</div>
      </div>
    </div>
    <div v-if="loot.loot.captain==me" class="card-footer text-center">
      <button class="btn btn-outline-secondary mx-2" @click="edit()">
        <i class="bi bi-pencil-square"></i>
      </button>
      <button class="btn btn-outline-secondary mx-2" @click="remove()">
        <i class="bi bi-trash3"></i>
      </button>
    </div>
  </div>
</div>
